Imports

In [4]:
import pandas
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Data Analysis

In [5]:
train = pandas.read_csv("exoTrain.csv")

In [6]:
train.head()

,LABEL,FLUX.1,FLUX.2,FLUX.3,FLUX.4,FLUX.5,FLUX.6,FLUX.7,FLUX.8,FLUX.9,...,FLUX.3188,FLUX.3189,FLUX.3190,FLUX.3191,FLUX.3192,FLUX.3193,FLUX.3194,FLUX.3195,FLUX.3196,FLUX.3197
0,2,93.85,83.81,20.10,-26.98,-39.56,-124.71,-135.18,-96.27,-79.89,...,-78.07,-102.15,-102.15,25.13,48.57,92.54,39.32,61.42,5.08,-39.54
1,2,-38.88,-33.83,-58.54,-40.09,-79.31,-72.81,-86.55,-85.33,-83.97,...,-3.28,-32.21,-32.21,-24.89,-4.86,0.76,-11.70,6.46,16.00,19.93
2,2,532.64,535.92,513.73,496.92,456.45,466.00,464.50,486.39,436.56,...,-71.69,13.31,13.31,-29.89,-20.88,5.06,-11.80,-28.91,-70.02,-96.67
3,2,326.52,347.39,302.35,298.13,317.74,312.70,322.33,311.31,312.42,...,5.71,-3.73,-3.73,30.05,20.03,-12.67,-8.77,-17.31,-17.35,13.98
4,2,-1107.21,-1112.59,-1118.95,-1095.10,-1057.55,-1034.48,-998.34,-1022.71,-989.57,...,-594.37,-401.66,-401.66,-357.24,-443.76,-438.54,-399.71,-384.65,-411.79,-510.54

In [9]:
#Setting labels to zeroes and ones
train["LABEL"] = train["LABEL"].map({2:1, 1:0})
train.head()

,LABEL,FLUX.1,FLUX.2,FLUX.3,FLUX.4,FLUX.5,FLUX.6,FLUX.7,FLUX.8,FLUX.9,...,FLUX.3188,FLUX.3189,FLUX.3190,FLUX.3191,FLUX.3192,FLUX.3193,FLUX.3194,FLUX.3195,FLUX.3196,FLUX.3197
0,1,93.85,83.81,20.10,-26.98,-39.56,-124.71,-135.18,-96.27,-79.89,...,-78.07,-102.15,-102.15,25.13,48.57,92.54,39.32,61.42,5.08,-39.54
1,1,-38.88,-33.83,-58.54,-40.09,-79.31,-72.81,-86.55,-85.33,-83.97,...,-3.28,-32.21,-32.21,-24.89,-4.86,0.76,-11.70,6.46,16.00,19.93
2,1,532.64,535.92,513.73,496.92,456.45,466.00,464.50,486.39,436.56,...,-71.69,13.31,13.31,-29.89,-20.88,5.06,-11.80,-28.91,-70.02,-96.67
3,1,326.52,347.39,302.35,298.13,317.74,312.70,322.33,311.31,312.42,...,5.71,-3.73,-3.73,30.05,20.03,-12.67,-8.77,-17.31,-17.35,13.98
4,1,-1107.21,-1112.59,-1118.95,-1095.10,-1057.55,-1034.48,-998.34,-1022.71,-989.57,...,-594.37,-401.66,-401.66,-357.24,-443.76,-438.54,-399.71,-384.65,-411.79,-510.54

In [11]:
#Shuffling data
train = train.sample(frac=1).reset_index(drop=True)
train.head()

,LABEL,FLUX.1,FLUX.2,FLUX.3,FLUX.4,FLUX.5,FLUX.6,FLUX.7,FLUX.8,FLUX.9,...,FLUX.3188,FLUX.3189,FLUX.3190,FLUX.3191,FLUX.3192,FLUX.3193,FLUX.3194,FLUX.3195,FLUX.3196,FLUX.3197
0,0,-4.30,-5.88,0.18,-5.71,-5.55,-4.18,-2.86,-4.82,2.92,...,-0.39,2.98,6.44,9.30,13.48,16.78,-2.87,-3.18,-2.10,-5.46
1,0,-11.33,-12.90,-1.91,-22.96,14.01,-31.90,-12.15,-12.22,-9.73,...,-19.93,-26.59,-15.44,-35.05,-27.53,-34.81,26.89,8.33,6.02,3.40
2,0,-88.60,-46.96,-55.69,-62.06,-62.23,-61.38,-63.99,-91.92,-90.46,...,42.11,32.39,45.58,62.70,52.22,70.96,-16.23,27.35,25.46,36.92
3,0,-13.27,-11.38,26.19,21.52,15.14,12.67,2.67,4.23,-1.49,...,-1.11,41.10,-5.52,52.12,50.29,83.44,82.09,103.02,103.98,103.44
4,0,-48.11,-51.56,-49.68,-38.09,-36.83,-40.18,-36.58,-40.33,-31.73,...,-6.32,2.35,-17.58,-8.95,3.25,8.47,-5.60,-16.13,-5.73,-5.90

Data Visualization